RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Skip rewriting if the request is for success.php or success_result.php
RewriteCond %{REQUEST_URI} !^/success\.php
RewriteCond %{REQUEST_URI} !^/success_result\.php
# Also skip rewriting if the request is for an existing file (e.g., images, CSS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php/$1 [L]